
.applist .card
{
     transition-duration: 500ms;
}
.applist .card:hover
{
    transform:scale(1.1,1.1);
    transition-duration: 500ms;
}
.applist a
{
    text-decoration: none;
}
.errorpage h1{
    font-size: 150px;
}
.errorpage p
{
    font-size: 40px;
}
.errorpage
{
    background:linear-gradient(rgb(253, 98, 51),rgb(255, 153, 153));
    height: 100vh;
}